In [24]:
import pandas as pd

In [25]:
df_c = pd.read_csv('contract_3_4_up_low_bound/power_consumption.csv')

In [26]:
df_c['時間']

0          2022/1/1 00:15:00
1          2022/1/1 00:30:00
2          2022/1/1 00:45:00
3          2022/1/1 01:00:00
4          2022/1/1 01:15:00
                ...
35035    2022/12/31 23:00:00
35036    2022/12/31 23:15:00
35037    2022/12/31 23:30:00
35038    2022/12/31 23:45:00
35039      2023/1/1 00:00:00
Name: 時間, Length: 35040, dtype: object

In [16]:
import random
multi_list = []
list1 = []
for c in range(1000):
    randomlist = []
    for i in range(0,30540):
        n = random.randint(100,200)
        randomlist.append(n)
    list1.append(randomlist)
print(len(list1))
p_con = [f"00-00-{str(pid).zfill(4)}-00-1" for pid in range(0, 1000)]
print(len(p_con))

1000
1000

In [17]:
# import numpy as np
# list1 = np.array(list1)
# list1.shape

In [18]:
from numpy.random import randint
import numpy as np
f = np.random.randint(30, 100, size=(30540,1000))
df_column = pd.DataFrame(columns=p_con)

In [19]:
df = pd.concat([df_c['時間'], df_column], axis=1)
df
# df = df.mask(df.isnull(), np.random.uniform(100, 200, size=df.shape))
# print(df.shape)
# df.mask(df.isnull(), np.random.uniform(100, 200, size=df.shape))

,時間,00-00-0000-00-1,00-00-0001-00-1,00-00-0002-00-1,00-00-0003-00-1,00-00-0004-00-1,00-00-0005-00-1,00-00-0006-00-1,00-00-0007-00-1,00-00-0008-00-1,...,00-00-0990-00-1,00-00-0991-00-1,00-00-0992-00-1,00-00-0993-00-1,00-00-0994-00-1,00-00-0995-00-1,00-00-0996-00-1,00-00-0997-00-1,00-00-0998-00-1,00-00-0999-00-1
0,2022/1/1 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022/1/1 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022/1/1 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022/1/1 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022/1/1 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2022/12/31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35036,2022/12/31 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35037,2022/12/31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35038,2022/12/31 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35039,2023/1/1 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.to_csv('contract_100_1000/power_consumption.csv', encoding='utf-8-sig', index=False)