In [1]:
import pandas as pd

In [2]:
origin_df = pd.read_csv('./cpc_data/test.csv')
origin_df

,電號,11101-11102,11103-11104,11105-11106,11107-11108,11109-11110,11111-11112
0,00-58-2254-02-2,1534,2281,4623,7803,7336,3807
1,00-58-2254-10-2,28200,23120,25280,28320,30880,25920
2,00-58-2254-20-4,6422,6356,7098,8706,8549,6868
3,00-58-2254-30-6,2560,3195,4543,6199,6035,3525
4,00-58-2254-40-8,4089,3810,4154,4965,4837,4045
5,00-58-2254-50-1,3833,4024,5019,7252,7303,4730
6,00-58-2254-60-3,5849,5396,6909,6881,6576,5806
7,00-58-2254-70-5,4429,5035,5633,6640,6795,5726
8,00-58-2258-30-0,1256,1387,1387,3033,2838,1725
9,00-58-2258-40-2,2667,2824,4214,5200,5256,3306
10,00-58-2258-50-5,1324,1507,2298,2635,2857,1697
11,00-58-2258-60-7,314,346,346,1207,950,424
12,00-58-2258-70-9,512,572,572,4246,3645,852
13,00-58-2368-00-7,124,120,120,120,120,120
14,00-58-2368-02-9,40,40,40,40,40,40
15,00-58-2368-20-1,476,450,520,920,1166,609
16,00-58-2368-30-3,441,224,245,327,371,284
17,00-58-2368-40-5,1657,1862,2325,2834,2725,2184
18,00-58-2368-50-8,40,40,40,40,43,40
19,10-39-3594-13-6,3840,3520,3440,4800,5880,4840

In [3]:
df = pd.read_csv('time_slot.csv')
df

                       時間
0       2022/1/1 01:00:00
1       2022/1/1 02:00:00
2       2022/1/1 03:00:00
3       2022/1/1 04:00:00
4       2022/1/1 05:00:00
...                   ...
8755  2022/12/31 20:00:00
8756  2022/12/31 21:00:00
8757  2022/12/31 22:00:00
8758  2022/12/31 23:00:00
8759    2023/1/1 00:00:00

[8760 rows x 1 columns]

In [4]:
month_01_02 = df[0:1416] # 1~2月
month_03_04 = df[1416:2880] # 3~4月
month_05_06 = df[2880:4344] # 5~6月
month_07_08 = df[4344:5832] # 7~8月
month_09_10 = df[5832:7296] # 9~10月
month_11_12 = df[7296:8760] # 11~12月

In [5]:
# filter consumption
for i, v in enumerate(origin_df['11101-11102']):
    if v < len(month_01_02):
        origin_df = origin_df.drop(labels=i)
for i, v in enumerate(origin_df['11103-11104']):
    if v < len(month_03_04):
        origin_df = origin_df.drop(labels=i)
for i, v in enumerate(origin_df['11105-11106']):
    if v < len(month_05_06):
        origin_df = origin_df.drop(labels=i)
for i, v in enumerate(origin_df['11107-11108']):
    if v < len(month_07_08):
        origin_df = origin_df.drop(labels=i)
for i, v in enumerate(origin_df['11109-11110']):
    if v < len(month_09_10):
        origin_df = origin_df.drop(labels=i)
for i, v in enumerate(origin_df['11111-11112']):
    if v < len(month_11_12):
        origin_df = origin_df.drop(labels=i)
origin_df.to_csv('final.csv', encoding='utf-8-sig', index=False)

In [6]:
df = pd.read_csv('final.csv')
mon_01 = df['11101-11102'] / len(month_01_02)
mon_03 = df['11103-11104'] / len(month_03_04)
mon_05 = df['11105-11106'] / len(month_05_06)
mon_07 = df['11107-11108'] / len(month_07_08)
mon_09 = df['11109-11110'] / len(month_09_10)
mon_12 = df['11111-11112'] / len(month_11_12)

In [16]:
col_name = pd.DataFrame(columns=df.電號.values)
df_month_01_02 = pd.concat([month_01_02, col_name], axis=1)
df_month_01_02 = df_month_01_02.iloc[:,1:]

tmp_list_month_01_02 = []
for i in df_month_01_02:
    for j in mon_01:
        tmp_df = pd.DataFrame(df_month_01_02[i].fillna(round(j,0)))
        tmp_list_month_01_02.append(tmp_df)
df_tmp_01_02 = pd.concat(tmp_list_month_01_02,axis=1)
df_01_02 = pd.concat([month_01_02, df_tmp_01_02], axis=1)

df_month_03_04 = pd.concat([month_03_04, col_name], axis=1)
df_month_03_04 = df_month_03_04.iloc[:,1:]

tmp_list_month_03_04 = []
for i in df_month_03_04:
    for j in mon_03:
        tmp_df = pd.DataFrame(df_month_03_04[i].fillna(round(j,0)))
        tmp_list_month_03_04.append(tmp_df)
df_tmp_03_04 = pd.concat(tmp_list_month_03_04, axis=1)
df_03_04 = pd.concat([month_03_04, df_tmp_03_04], axis=1)
df_03_04

power_consumption = pd.concat([df_01_02, df_tmp_03_04], axis=0)
power_consumption



# df5.to_csv('spe_test_consumption.csv', encoding='utf-8-sig', index=False)
# for i in mon_01:
#     print(i)
#     for j in df3:
#         df4 = df3[j].fillna(i)
# df4

InvalidIndexError: Reindexing only valid with uniquely valued Index objects